In [41]:
import time
import requests
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.action_chains import ActionChains
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import os
from datetime import datetime

In [6]:
driver = webdriver.Chrome()

In [7]:
dfs = []
for i in range(1,58):
    result = requests.get(f'https://companiesmarketcap.com/page/{i}', 'html5lib')
    df = pd.read_html(result.content)[0]
    dfs.append(df)

In [15]:
concatenated = pd.concat(dfs, ignore_index=True)
concatenated

,Rank,Name,Market Cap,Price,Today,Price (30 days),Country
0,1,Apple AAPL,$2.648 T,$161.41,0.24%,NaN,ðŸ‡ºðŸ‡¸ USA
1,2,Microsoft MSFT,$2.535 T,$337.68,-0.63%,NaN,ðŸ‡ºðŸ‡¸ USA
2,3,Alphabet (Google) GOOG,$1.942 T,"$2,935",-0.22%,NaN,ðŸ‡ºðŸ‡¸ USA
3,4,Saudi Aramco 2222.SR,$1.907 T,$9.54,0.99%,NaN,ðŸ‡¸ðŸ‡¦ S. Arabia
4,5,Amazon AMZN,$1.815 T,"$3,580",0.21%,NaN,ðŸ‡ºðŸ‡¸ USA
...,...,...,...,...,...,...,...
5691,5692,Commercial International Bank CIN.F,NaN,$3.52,-1.99%,NaN,ðŸ‡ªðŸ‡¬ Egypt
5692,5693,Sangoma Technologies SANG,NaN,NaN,0.00%,NaN,ðŸ‡¨ðŸ‡¦ Canada
5693,5694,Nykaa NYKAA.NS,NaN,NaN,0.00%,NaN,ðŸ‡®ðŸ‡³ India
5694,5695,Intensity Therapeutics INTS,NaN,NaN,0.00%,NaN,ðŸ‡ºðŸ‡¸ USA
5695,5696,Nuvectis Pharma NVCT,NaN,NaN,0.00%,NaN,ðŸ‡ºðŸ‡¸ USA

In [16]:
concatenated['Ticker'] = concatenated['Name'].str.split().str[-1]

In [17]:
concatenated['Name'] = concatenated.Name.str.rsplit(' ', 1).str[0]

In [18]:
concatenated['Market Cap Mag'] = concatenated['Market Cap'].str.split().str[-1]

In [19]:
concatenated['Market Cap'] = concatenated['Market Cap'].str.rsplit(' ', 1).str[0]

In [20]:
concatenated['Market Cap'] = concatenated['Market Cap'].str.replace('$', '', regex=False)

In [21]:
to_drop = concatenated[concatenated['Market Cap'].isnull()]
concatenated.drop(to_drop.index, inplace=True)

In [22]:
concatenated['Market Cap'] = concatenated['Market Cap'].astype('float')
concatenated.dtypes

Rank                 int64
Name                object
Market Cap         float64
Price               object
Today               object
Price (30 days)    float64
Country             object
Ticker              object
Market Cap Mag      object
dtype: object

In [23]:
trillion = concatenated[concatenated['Market Cap Mag'] == 'T']
concatenated.loc[(concatenated['Market Cap Mag'] == 'T'), 'Market Cap'] = concatenated['Market Cap'] * 1000000000000
concatenated

,Rank,Name,Market Cap,Price,Today,Price (30 days),Country,Ticker,Market Cap Mag
0,1,Apple,2.648000e+12,$161.41,0.24%,NaN,ðŸ‡ºðŸ‡¸ USA,AAPL,T
1,2,Microsoft,2.535000e+12,$337.68,-0.63%,NaN,ðŸ‡ºðŸ‡¸ USA,MSFT,T
2,3,Alphabet (Google),1.942000e+12,"$2,935",-0.22%,NaN,ðŸ‡ºðŸ‡¸ USA,GOOG,T
3,4,Saudi Aramco,1.907000e+12,$9.54,0.99%,NaN,ðŸ‡¸ðŸ‡¦ S. Arabia,2222.SR,T
4,5,Amazon,1.815000e+12,"$3,580",0.21%,NaN,ðŸ‡ºðŸ‡¸ USA,AMZN,T
...,...,...,...,...,...,...,...,...,...
5682,5683,Energy Focus,1.000000e-02,$2.33,2.19%,NaN,ðŸ‡ºðŸ‡¸ USA,EFOI,B
5683,5684,Jump Networks,1.000000e-02,$0.11,4.64%,NaN,ðŸ‡®ðŸ‡³ India,JUMPNET.NS,B
5684,5685,Pareteum Corporation,7.840000e+00,$0.06,10.00%,NaN,ðŸ‡ºðŸ‡¸ USA,TEUM,M
5685,5686,Youngevity International,1.370000e+00,$0.04,-26.68%,NaN,ðŸ‡ºðŸ‡¸ USA,YGYI,M
5686,5687,Trulite,0.000000e+00,NaN,0.00%,NaN,ðŸ‡ºðŸ‡¸ USA,TRUL,M

In [24]:
billion = concatenated[concatenated['Market Cap Mag'] == 'B']
concatenated.loc[(concatenated['Market Cap Mag'] == 'B'), 'Market Cap'] = concatenated['Market Cap'] * 1000000000
concatenated

,Rank,Name,Market Cap,Price,Today,Price (30 days),Country,Ticker,Market Cap Mag
0,1,Apple,2.648000e+12,$161.41,0.24%,NaN,ðŸ‡ºðŸ‡¸ USA,AAPL,T
1,2,Microsoft,2.535000e+12,$337.68,-0.63%,NaN,ðŸ‡ºðŸ‡¸ USA,MSFT,T
2,3,Alphabet (Google),1.942000e+12,"$2,935",-0.22%,NaN,ðŸ‡ºðŸ‡¸ USA,GOOG,T
3,4,Saudi Aramco,1.907000e+12,$9.54,0.99%,NaN,ðŸ‡¸ðŸ‡¦ S. Arabia,2222.SR,T
4,5,Amazon,1.815000e+12,"$3,580",0.21%,NaN,ðŸ‡ºðŸ‡¸ USA,AMZN,T
...,...,...,...,...,...,...,...,...,...
5682,5683,Energy Focus,1.000000e+07,$2.33,2.19%,NaN,ðŸ‡ºðŸ‡¸ USA,EFOI,B
5683,5684,Jump Networks,1.000000e+07,$0.11,4.64%,NaN,ðŸ‡®ðŸ‡³ India,JUMPNET.NS,B
5684,5685,Pareteum Corporation,7.840000e+00,$0.06,10.00%,NaN,ðŸ‡ºðŸ‡¸ USA,TEUM,M
5685,5686,Youngevity International,1.370000e+00,$0.04,-26.68%,NaN,ðŸ‡ºðŸ‡¸ USA,YGYI,M
5686,5687,Trulite,0.000000e+00,NaN,0.00%,NaN,ðŸ‡ºðŸ‡¸ USA,TRUL,M

In [25]:
million = concatenated[concatenated['Market Cap Mag'] == 'M']
concatenated.loc[(concatenated['Market Cap Mag'] == 'M'), 'Market Cap'] = concatenated['Market Cap'] * 1000000
concatenated

,Rank,Name,Market Cap,Price,Today,Price (30 days),Country,Ticker,Market Cap Mag
0,1,Apple,2.648000e+12,$161.41,0.24%,NaN,ðŸ‡ºðŸ‡¸ USA,AAPL,T
1,2,Microsoft,2.535000e+12,$337.68,-0.63%,NaN,ðŸ‡ºðŸ‡¸ USA,MSFT,T
2,3,Alphabet (Google),1.942000e+12,"$2,935",-0.22%,NaN,ðŸ‡ºðŸ‡¸ USA,GOOG,T
3,4,Saudi Aramco,1.907000e+12,$9.54,0.99%,NaN,ðŸ‡¸ðŸ‡¦ S. Arabia,2222.SR,T
4,5,Amazon,1.815000e+12,"$3,580",0.21%,NaN,ðŸ‡ºðŸ‡¸ USA,AMZN,T
...,...,...,...,...,...,...,...,...,...
5682,5683,Energy Focus,1.000000e+07,$2.33,2.19%,NaN,ðŸ‡ºðŸ‡¸ USA,EFOI,B
5683,5684,Jump Networks,1.000000e+07,$0.11,4.64%,NaN,ðŸ‡®ðŸ‡³ India,JUMPNET.NS,B
5684,5685,Pareteum Corporation,7.840000e+06,$0.06,10.00%,NaN,ðŸ‡ºðŸ‡¸ USA,TEUM,M
5685,5686,Youngevity International,1.370000e+06,$0.04,-26.68%,NaN,ðŸ‡ºðŸ‡¸ USA,YGYI,M
5686,5687,Trulite,0.000000e+00,NaN,0.00%,NaN,ðŸ‡ºðŸ‡¸ USA,TRUL,M

In [26]:
concatenated.drop(['Price (30 days)', 'Market Cap Mag', 'Today'], axis=1, inplace= True)

In [27]:
concatenated['Price'] = concatenated.Price.str.replace('[$,]', '', regex=True)

In [28]:
concatenated

,Rank,Name,Market Cap,Price,Country,Ticker
0,1,Apple,2.648000e+12,161.41,ðŸ‡ºðŸ‡¸ USA,AAPL
1,2,Microsoft,2.535000e+12,337.68,ðŸ‡ºðŸ‡¸ USA,MSFT
2,3,Alphabet (Google),1.942000e+12,2935,ðŸ‡ºðŸ‡¸ USA,GOOG
3,4,Saudi Aramco,1.907000e+12,9.54,ðŸ‡¸ðŸ‡¦ S. Arabia,2222.SR
4,5,Amazon,1.815000e+12,3580,ðŸ‡ºðŸ‡¸ USA,AMZN
...,...,...,...,...,...,...
5682,5683,Energy Focus,1.000000e+07,2.33,ðŸ‡ºðŸ‡¸ USA,EFOI
5683,5684,Jump Networks,1.000000e+07,0.11,ðŸ‡®ðŸ‡³ India,JUMPNET.NS
5684,5685,Pareteum Corporation,7.840000e+06,0.06,ðŸ‡ºðŸ‡¸ USA,TEUM
5685,5686,Youngevity International,1.370000e+06,0.04,ðŸ‡ºðŸ‡¸ USA,YGYI
5686,5687,Trulite,0.000000e+00,NaN,ðŸ‡ºðŸ‡¸ USA,TRUL

In [29]:
concatenated['Price'] = concatenated['Price'].astype('float')
concatenated.dtypes

Rank            int64
Name           object
Market Cap    float64
Price         float64
Country        object
Ticker         object
dtype: object

In [30]:
concatenated['Shares'] = concatenated['Market Cap'] / concatenated['Price']

In [31]:
concatenated

,Rank,Name,Market Cap,Price,Country,Ticker,Shares
0,1,Apple,2.648000e+12,161.41,ðŸ‡ºðŸ‡¸ USA,AAPL,1.640543e+10
1,2,Microsoft,2.535000e+12,337.68,ðŸ‡ºðŸ‡¸ USA,MSFT,7.507107e+09
2,3,Alphabet (Google),1.942000e+12,2935.00,ðŸ‡ºðŸ‡¸ USA,GOOG,6.616695e+08
3,4,Saudi Aramco,1.907000e+12,9.54,ðŸ‡¸ðŸ‡¦ S. Arabia,2222.SR,1.998952e+11
4,5,Amazon,1.815000e+12,3580.00,ðŸ‡ºðŸ‡¸ USA,AMZN,5.069832e+08
...,...,...,...,...,...,...,...
5682,5683,Energy Focus,1.000000e+07,2.33,ðŸ‡ºðŸ‡¸ USA,EFOI,4.291845e+06
5683,5684,Jump Networks,1.000000e+07,0.11,ðŸ‡®ðŸ‡³ India,JUMPNET.NS,9.090909e+07
5684,5685,Pareteum Corporation,7.840000e+06,0.06,ðŸ‡ºðŸ‡¸ USA,TEUM,1.306667e+08
5685,5686,Youngevity International,1.370000e+06,0.04,ðŸ‡ºðŸ‡¸ USA,YGYI,3.425000e+07
5686,5687,Trulite,0.000000e+00,NaN,ðŸ‡ºðŸ‡¸ USA,TRUL,NaN

In [33]:
concatenated.to_csv('stocks.csv', index=False)

In [3]:
key = os.getenv('yfapi_token')

In [138]:
tickers = concatenated.Ticker.to_list()[1206:]
tickers

['WRB',
 'RGEN',
 'COUP',
 'KIM',
 'CLVT',
 'BZLA.F',
 'CHKP',
 'GDRX',
 'DANS.VI',
 'TRN.MI',
 'TFX',
 'EVKIF',
 'SNN',
 'ELP',
 'JDE.F',
 'AAP',
 'OMC',
 '601186.SS',
 'EXAS',
 '600009.SS',
 'SOF.VI',
 'TECK',
 'ARES',
 '5VD.F',
 'FBHS',
 'GRUB',
 'BSY',
 'SJR',
 'L',
 'H.TO',
 'DABUR.NS',
 'SCVUF',
 'FMCCT',
 'LNT',
 'SJM',
 'WPC',
 'KGX.DE',
 'NLOK',
 'WOLF',
 'ALO.PA',
 'SHL.AX',
 'NCM.AX',
 'IEP',
 'UHAL',
 'ARTO.JK',
 'HEI.DE',
 'CCK',
 'DKNG',
 '9143.T',
 'CRERF',
 'SEV.PA',
 'OTP.F',
 'PTON',
 'NHY.OL',
 'LUND-B.ST',
 'ESTC',
 '001979.SZ',
 'LUMN',
 'FFIV',
 'BALD-B.ST',
 '8421.T',
 'ARGX',
 '1928.T',
 'QS',
 'INCY',
 'BZ',
 'ENIA',
 'PCTY',
 'WHR',
 'BLDR',
 'AVV.L',
 '2503.T',
 'CF',
 '2609.TW',
 'Q0F.SI',
 'MTN',
 'CGNX',
 'NEM.F',
 'CAH',
 'FND',
 'MKTX',
 'ZG',
 'CBOE',
 'INDU-A.ST',
 'LIFCO-B.ST',
 'EQH',
 'STEAV.HE',
 '3407.T',
 'JEM.F',
 'HAS',
 '1216.TW',
 'MORN',
 'FWONK',
 'LPLA',
 'ABN.AS',
 'OTEX',
 'DOCN',
 'MOS',
 'HTZ',
 'IPG',
 '1177.HK',
 'AMH',
 'DLF.NS',
 '600015.SS',
 'IRM',
 'GTLB',
 '2615.TW',
 'DOL.TO',
 'BAER.SW',
 'BNR.DE',
 'NMR',
 'HINDALCO.NS',
 '009155.KS',
 'LOGI',
 'YMM',
 'PHM',
 'STLD',
 'BAJAJ-AUTO.NS',
 'GFL',
 'RH',
 'BARN.SW',
 '6862.HK',
 '3692.HK',
 'FMC',
 'EN.PA',
 'H78.SI',
 'BG',
 '3P7.F',
 'GGG',
 'QBE.AX',
 'NVEI',
 'ASX.AX',
 'NWS',
 '2884.TW',
 'JLL',
 'VIV.PA',
 'SUZ',
 'ONON',
 'HWM',
 'AOS',
 'SAGA-B.ST',
 'TNABY',
 'LDOS',
 '2280.SR',
 'RHI',
 'SW.PA',
 '6488.TWO',
 'UNVR.JK',
 'PAYTM.NS',
 'B3SA3.SA',
 'TME',
 '8046.TW',
 'TS',
 'SC',
 'SHREECEM.NS',
 'FTCH',
 'LNC',
 'FFH.TO',
 'COALINDIA.NS',
 '0006.HK',
 'NVPI.F',
 'P9O.F',
 'PNR',
 'PTC',
 'MNHVF',
 'MPW',
 'MRO',
 'DISCA',
 'REC.MI',
 '5871.TW',
 'YAR.OL',
 'IMCD.AS',
 'TBVPF',
 'PKG',
 'ACH',
 'AEM',
 'WLK',
 'FPH.NZ',
 'SBICARD.NS',
 '600547.SS',
 '8TRA.DE',
 'TRGP',
 'WRK',
 'CHRW',
 '2207.TW',
 '0384.HK',
 'TPR',
 'REG',
 'ATO',
 'AAL',
 'MAN.F',
 'GODREJCP.NS',
 'CPB',
 'CSL',
 'QGEN',
 'WAL',
 'HST',
 'SOLB.VI',
 '6701.T',
 'XGJ.F',
 '6506.T',
 'ADP.PA',
 'CEA',
 '6586.T',
 '036570.KS',
 'KPN.F',
 '1COV.F',
 'RAND.AS',
 'CNA',
 'RPM',
 '5020.T',
 'IHG',
 'AFG',
 'MHK',
 'NLY',
 '8309.T',
 'WTRG',
 'AVLR',
 'WDH1.F',
 '2382.TW',
 '1605.T',
 'KEP',
 'EMA.TO',
 'MRU.TO',
 'STVN',
 'SKM',
 '0992.HK',
 'DAR',
 'UMI.VI',
 'KESKOA.HE',
 'IL2.F',
 'EDEN.PA',
 'AKRBP.OL',
 'S32.AX',
 'EWBC',
 'ICA.ST',
 'DKS',
 'WSO',
 'ICICIPRULI.NS',
 'CMA',
 'FIVE',
 'BRITANNIA.NS',
 'ALLE',
 'CUBE',
 'BRKR',
 'BAH',
 '4188.T',
 'LII',
 'ICL',
 'HAVELLS.NS',
 '2587.T',
 'MNDI.L',
 'TOU.TO',
 'DECK',
 'GETI-B.ST',
 'SNA',
 'RRX',
 'GLOB',
 '4716.T',
 'BPCL.NS',
 '003550.KS',
 'UA',
 'TLX.DE',
 'VER',
 'RNSDF',
 '5880.TW',
 'LAMR',
 'INW.MI',
 'BWA',
 'IAC',
 'GRFS',
 'CONE',
 'FSLR',
 'KOF',
 '7532.T',
 'XRAY',
 'HUBB',
 'CLF',
 'BKI',
 'JKHY',
 '034730.KS',
 'SCI',
 'SWMA.ST',
 '0316.HK',
 'IVZ',
 'AXON',
 'INDIGO.NS',
 'SINGF',
 'RHC.AX',
 'LEVI',
 'REE.MC',
 '0017.HK',
 'BIMBOA.MX',
 'CABO',
 '9101.T',
 '5802.T',
 'ERIE',
 '6479.T',
 'GLPI',
 '8697.T',
 'SITE',
 'ZEN',
 'GDDY',
 '6988.T',
 'PCOR',
 '0004.HK',
 'FBK.MI',
 'GXO',
 'MQ',
 'SIEMENS.NS',
 'DIA.MI',
 'TTC',
 '2892.TW',
 'RE',
 '9021.T',
 'MTX.DE',
 '5201.T',
 'EUXTF',
 'XLRN',
 'BXB.AX',
 'TPIA.JK',
 'COH.AX',
 'LSI',
 'KL',
 'LSCC',
 '9202.T',
 '000876.SZ',
 '2885.TW',
 'REXR',
 '6383.T',
 'LEA',
 '2395.TW',
 'SGE.L',
 'SYNA',
 'SNX',
 'SSL',
 'DOCS',
 'MINDTREE.NS',
 'HSIC',
 'GDS',
 '086790.KS',
 'INDUSTOWER.NS',
 '3034.TW',
 'ACM',
 'WYNN',
 'WFG',
 '4528.T',
 '7202.T',
 'C38U.SI',
 'SCHA.OL',
 'ZION',
 '7259.T',
 'LEG.DE',
 'AMBUJACEM.NS',
 'DVA',
 'ALE.WA',
 'APOLLOHOSP.NS',
 '1101.TW',
 'JNPR',
 'RUN',
 '8951.T',
 'CTXS',
 'BABWF',
 '3037.TW',
 'UHS',
 'AZPN',
 '3769.T',
 '1821.HK',
 'AKE.PA',
 'M',
 'RCO.PA',
 'SYNH',
 'RAA.F',
 '51C.F',
 'RDY',
 'TAP',
 'LUNE.ST',
 'NAUKRI.NS',
 'KINV-A.ST',
 'APA',
 'STO.AX',
 'TFII',
 '6823.HK',
 'TTEK',
 'MIDD',
 'KBANK.BK',
 'HRC',
 'RS',
 'SKUFF',
 'TIT.MI',
 'OPEN',
 'INDUSINDBK.NS',
 'BCH',
 'TEMN.SW',
 'TEL2-A.ST',
 'TATAPOWER.NS',
 'CCJ',
 'TATACONSUM.NS',
 'PFPT',
 'FRT',
 '6146.T',
 'MGLU3.SA',
 'MANH',
 'SUN.AX',
 'SKSBF',
 'PRY.MI',
 '3064.T',
 'BEP',
 'WB',
 'MMP',
 'TPL',
 'CROX',
 '3045.TW',
 'BERGEPAINT.NS',
 'NI',
 '032830.KS',
 'NVCR',
 '2379.TW',
 '3402.T',
 'TOM.OL',
 'VST',
 'URW.AS',
 '003670.KS',
 'JEF',
 'SINCH.ST',
 'CIPLA.NS',
 'PHOR.ME',
 'GFC.PA',
 'QNBFB.IS',
 'SAP.TO',
 '2880.TW',
 'NWL',
 'EMBRAC-B.ST',
 '0656.HK',
 '3008.TW',
 'ANA.MC',
 'ELISA.HE',
 'AEG',
 'TEVA',
 'SEE',
 '1548.HK',
 'ORKLF',
 'MOTHERSUMI.NS',
 'KNX',
 'OVV',
 'GFI',
 'ST',
 '6965.T',
 'GWRE',
 'Y',
 'CPRI',
 'ICICIGI.NS',
 'VRT',
 'BOL.ST',
 '3092.T',
 'IRCTC.NS',
 'OLN',
 'PEN',
 'BAP',
 'FICO',
 'RAW.F',
 '0101.HK',
 'PEGA',
 '4385.T',
 'GL',
 '7951.T',
 'EICHERMOT.NS',
 'CBK.F',
 'BJ',
 'CACC',
 'G',
 'ARCC',
 '6963.T',
 '0083.HK',
 'GH',
 'MARICO.NS',
 '4324.T',
 'AGL',
 '2357.TW',
 'NCLH',
 'FHN',
 'BHC',
 'AIZ',
 'FGR.PA',
 'DBX',
 'AQN',
 'FALABELLA.SN',
 '4751.T',
 'UGI',
 'CIEN',
 'A17U.SI',
 'EBR',
 'WMS',
 '090430.KS',
 'DAVA',
 'ARMK',
 'FNLPF',
 'TWKS',
 'KFI1.F',
 'TIXT',
 'CX',
 'SMG',
 '7272.T',
 'H',
 'BLD',
 'WCH.F',
 'CNXC',
 'OC',
 'STOR',
 'DOX',
 'FIVN',
 'AA',
 'FDJ.VI',
 '8308.T',
 'RL',
 'GLBE',
 'SBSW',
 'BBNI.JK',
 'DLO',
 'BSAC',
 'SAIA',
 'G1A.F',
 '4768.T',
 '002607.SZ',
 'UTHR',
 'AGCO',
 '2883.TW',
 'FRSH',
 'NTRA',
 'NRG',
 'ARW',
 'OZON',
 'R90.F',
 '051905.KS',
 'SJX.F',
 'XEC',
 'WIX',
 'ALV',
 'XPO',
 '9201.T',
 'LAD',
 'HAPV3.SA',
 'SEIC',
 '9005.T',
 'SIGN.SW',
 'MKSI',
 'BERY',
 'COG',
 'CHDN',
 '2269.T',
 'UNITDSPR.BO',
 'JBL',
 'UWMC',
 'ITT',
 'GPS',
 'BC8.F',
 'PAGS',
 'FSV',
 'TPG.AX',
 'WSC',
 'LODHA.NS',
 'PENN',
 'IPGP',
 '4021.T',
 'PM6.F',
 'INFA',
 'DLB',
 'SRF.NS',
 '2638.HK',
 'CFR',
 'PSHZF',
 'GNTX',
 'WES',
 'BZI.F',
 'CBSH',
 'NTLA',
 'BRKS',
 '003495.KS',
 '010950.KS',
 'LECO',
 '3JDA.F',
 'CAE',
 'COLD',
 'AC.PA',
 '0288.HK',
 'FCNCA',
 '8601.T',
 '3283.T',
 'EMTK.JK',
 'ATR',
 'THC',
 'PVH',
 '0489.HK',
 'FAF',
 'BSMX',
 'EGP',
 'KSS',
 'HUSQ-A.ST',
 'SOI.PA',
 'DDS',
 'TPX',
 'AU',
 'VNO',
 '2408.TW',
 'HSZ.F',
 'ASND',
 'YETI',
 'SK.PA',
 'AGNC',
 'PSXP',
 'COTY',
 'FLEX',
 'PEL.NS',
 'PLTK',
 '7GG.F',
 '251270.KS',
 'AN',
 'RRTL.F',
 '7011.T',
 'PKY1.F',
 'CHH',
 '0019.HK',
 'LW',
 'WRT1V.HE',
 'AV2.F',
 '601021.SS',
 'IPN.PA',
 'TNDM',
 'MPHASIS.NS',
 'WF',
 'FYBR',
 'GAIL.NS',
 'NBIX',
 '4062.T',
 'AIRC',
 'MUTHOOTFIN.NS',
 'GBTC',
 '4704.T',
 'CUERVO.MX',
 'LHA.DE',
 '002007.SZ',
 '8952.T',
 'GIL',
 'EVO',
 'MEZ.AX',
 'NNN',
 'IAG.AX',
 '9503.T',
 'GODREJPROP.NS',
 'GET.PA',
 'GVNV.AS',
 'GZ5.F',
 'TSP',
 'AIA.AX',
 'OMCL',
 'PAG',
 '2267.T',
 'KRC',
 '2883.HK',
 '4005.T',
 'TOL',
 'DWS.F',
 'WH',
 '5332.T',
 'CHPT',
 'EQT',
 'ORI',
 '3038.T',
 'KGC',
 'FR',
 'FUTU',
 'JAZZ',
 'VIFN.SW',
 'HLI',
 'SLAB',
 '5486.T',
 'LSPD',
 'JHG',
 'SF',
 'DXC',
 'EMP-A.TO',
 'PNFP',
 'SMAR',
 'GNDI3.SA',
 'OGN',
 'US.MI',
 'MGNT.ME',
 'ZLAB',
 '5019.T',
 'DNB',
 'CFX',
 'MAT',
 '9502.T',
 'PJP.F',
 'MEGGF',
 'OSK',
 'FOXF',
 'OSH',
 'GLAND.NS',
 'RBA',
 'PSTG',
 'DNP.WA',
 'FFIN',
 'LFUS',
 '1878.T',
 'KRNT',
 'USFD',
 'TOWN.VI',
 '000800.SZ',
 'GGB',
 'OTE.F',
 'BC',
 '2897.T',
 'TX',
 'CPN.BK',
 'RNR',
 'LEGN',
 'CHE',
 'EDR',
 'NYT',
 'HLE.F',
 '3141.T',
 'NLSN',
 'STAG',
 'FR.PA',
 'MEDP',
 '2887.TW',
 '9531.T',
 'COV.PA',
 'MRTX',
 '3626.T',
 'PLAN',
 'ATUS',
 '010130.KS',
 'HTA',
 '4739.T',
 '4204.T',
 'HII',
 'PNW',
 'STWD',
 'DCI',
 '5876.TW',
 'COR',
 'MTZ',
 'CU.TO',
 'AYI',
 'BFAM',
 'BEIJ-B.ST',
 'AXTA',
 '3003.T',
 'CHK',
 'PLNT',
 '4904.TW',
 'UPL.NS',
 'CASY',
 'BAJAJHLDNG.NS',
 'GNN.F',
 '9042.T',
 'BRX',
 'MP',
 'HOLM-B.ST',
 'ACC',
 'ARWR',
 'G07.SI',
 'PII',
 'CIB',
 'ADT',
 'SKX',
 '1099.HK',
 'RENT3.SA',
 '9435.T',
 'VOYA',
 'G13.SI',
 'WWD',
 'ICBP.JK',
 'SNV',
 'UTDI.F',
 'PHI',
 '8795.T',
 'KLH.F',
 'CVAC',
 'MBT',
 '6753.T',
 'RGA',
 'FDR.MC',
 'SOBI.ST',
 'HUN',
 'AMG',
 'BHVN',
 '3281.T',
 'MSTR',
 'TECN.SW',
 'NEWR',
 'SPXCF',
 'WE',
 'BBL.BK',
 'NTCO',
 'H5P.F',
 'ZNGA',
 'BAK',
 'PAA',
 'DSGX',
 'KONN.F',
 'RPD',
 'BN4.SI',
 'GLIBP',
 '9007.T',
 'QAN.AX',
 'BMED.MI',
 'AMBU-B.CO',
 'WK',
 'OGE',
 'VAC',
 'BESI.AS',
 'TNET',
 'NTNX',
 'HEROMOTOCO.NS',
 'IDBI.NS',
 'PB',
 'RCM',
 'CSAN',
 'ELUX-A.ST',
 'BTOW3.SA',
 'BMBL',
 'PARG.SW',
 'EME',
 'OHI',
 '4922.T',
 'ISDAY',
 'OLED',
 'CURLF',
 'PPC',
 'RADL3.SA',
 'CYBR',
 'KGHA.F',
 'OB8.F',
 'PFGC',
 'BALN.SW',
 'I93A.F',
 'WIZZ.L',
 'REY.MI',
 'X',
 'WCC',
 'BEL.NS',
 'SRPT',
 'EO.PA',
 'JCOM',
 'BRZE',
 'WTS',
 'BOSCHLTD.NS',
 'MISC.KL',
 'RLX',
 'AALB.AS',
 'IIVI',
 'ESLT',
 'SO.PA',
 'COLM',
 'CLN.SW',
 'SIX2.F',
 'ASGN',
 'ACS.MC',
 'WU',
 '9104.T',
 'BYD',
 'JSWENERGY.NS',
 'PBCTP',
 'CPIN.JK',
 'GMED',
 'NVST',
 'BL',
 'JUBLFOOD.NS',
 'RGLD',
 'ROYMF',
 '6305.T',
 '9532.T',
 'VICR',
 'AG1.F',
 'IAA',
 'SWAV',
 'ARX.TO',
 'EVD.F',
 'EXP',
 'CHOLAFIN.NS',
 'INSP',
 'LSTR',
 'NEP',
 '7747.T',
 'ASAI',
 'PGHH.NS',
 'ENKAI.IS',
 'NXST',
 'MAP.MC',
 'BANDHANBNK.NS',
 'LPL',
 '3349.T',
 'OMF',
 'POST',
 'ALK',
 'GBCI',
 'AMBA',
 'VVV',
 'EREGL.IS',
 'PAC',
 'KBR',
 '3462.T',
 'RF.PA',
 'DOOO',
 'INGR',
 'C07.SI',
 'VIPS',
 'RKLB',
 '7912.T',
 'LITE',
 'GTLS',
 'LAZR',
 'GPK',
 'PIRC.MI',
 'ASH',
 'AC.TO',
 'BANKBARODA.NS',
 '9684.T',
 'CACI',
 'EXPO',
 'CHNG',
 'IPL.TO',
 'BEPC',
 'AZEK',
 'CZOO',
 'TORNTPHARM.NS',
 'PSO',
 'BLDA.F',
 'SGMS',
 'ORP.PA',
 'MFT.NZ',
 'CADILAHC.NS',
 'INOV',
 'POWI',
 'COHR',
 'INMD',
 'VAS.F',
 'REYN',
 'EHC',
 'PROX.VI',
 'HNP',
 '7181.T',
 '4967.T',
 'HAL.NS',
 'HGV',
 'HAYW',
 'UBSFF',
 'GT',
 'MTTR',
 'STN',
 'CIGI',
 '3291.T',
 'ZIM',
 'IIPR',
 '8439.T',
 'LI.PA',
 'MAKSF',
 'LPX',
 'TWE.AX',
 'DEI',
 'NEGG',
 '2890.TW',
 'TXRH',
 'NVT',
 'CR',
 'OZK',
 'SHC',
 'M44U.SI',
 'SAIL.NS',
 'WOOF',
 'ESI',
 'FRA.DE',
 'SON',
 'CRSP',
 'NOD.OL',
 'STMP',
 'CADE',
 'VALMT.HE',
 '4613.T',
 'BCI.SN',
 'BPMC',
 '011170.KS',
 'PRI',
 'SWEC-A.ST',
 'FSK',
 'KT',
 'HELE',
 'BYAN.JK',
 'RXL.PA',
 'HINDPETRO.NS',
 'MSA',
 'ACC.NS',
 'THO',
 '3391.T',
 'HOG',
 'PAGEIND.NS',
 'CPF.BK',
 ...]

In [139]:
dfs_fin_hist = []
for symbol in tickers:
    time.sleep(0.22)
    try:
        response = requests.get(f"https://yfapi.net/v8/finance/spark?interval=1d&range=6mo&symbols={symbol}", headers={'x-api-key': key})
        res = response.json()
        pd.json_normalize(res[symbol])
        times= [datetime.fromtimestamp(a).strftime('%Y-%m-%d') for a in res[symbol]['timestamp']]
        data = {'Ticker': [res[symbol]['symbol']]}
        close_data = [list(x) for x in zip(times, res[symbol]['close'])]
        for i in close_data:
            data[i[0]] = [i[1]]
        df_fin_hist = pd.DataFrame(data)
        dfs_fin_hist.append(df_fin_hist)
    except:
        pass

In [140]:
dfs_fin_hist_concat2 = pd.concat(dfs_fin_hist, ignore_index=True, sort=False)


dfs_fin_hist_concat1
dfs_fin_hist_concat2

,Ticker,2021-05-24,2021-05-25,2021-05-26,2021-05-27,2021-05-28,2021-06-01,2021-06-02,2021-06-03,2021-06-04,...,2021-10-17,2021-10-24,2021-10-31,2021-11-07,2021-11-14,2021-11-21,2021-11-24,2021-06-13,2021-09-19,2021-10-03
0,WRB,78.24,76.81,76.580,77.40,77.990,77.700,76.95,77.25,77.300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,RGEN,176.69,179.47,178.910,181.45,182.610,172.750,178.44,175.60,177.790,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,COUP,239.11,239.02,241.250,239.04,238.200,234.070,234.21,225.30,230.230,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,KIM,20.63,20.53,20.760,20.97,21.310,21.800,22.24,22.17,21.750,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,CLVT,29.69,29.55,29.510,29.67,30.040,29.890,30.47,31.13,32.160,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4334,EFOI,3.86,3.91,4.070,4.06,4.140,4.240,4.29,5.81,4.970,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4335,JUMPNET.NS,7.20,7.20,7.050,6.95,NaN,7.950,8.30,8.70,NaN,...,7.95,7.35,7.25,7.35,7.4,7.55,7.65,10.5,8.9,8.3
4336,TEUM,0.37,0.36,0.370,0.36,0.350,0.350,0.34,NaN,0.340,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4337,YGYI,0.32,0.34,0.355,0.32,0.335,0.310,0.33,0.32,0.328,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4338,TRUL,1.90,1.85,1.850,2.39,2.150,2.145,2.15,2.15,2.210,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [152]:
dfs_final = pd.concat([dfs_fin_hist_concat1, dfs_fin_hist_concat2], ignore_index=True, sort=False)
dfs_final = dfs_final.reindex(sorted(dfs_final.columns), axis=1)

In [153]:
dfs_final.to_csv('historic_stock_prices.csv')

In [169]:
merged = pd.merge(concatenated, dfs_final, how="inner", on=["Ticker", "Ticker"])
merged

,Rank,Name,Market Cap,Price,Country,Ticker,Shares,2021-05-23,2021-05-24,2021-05-25,...,2021-11-14,2021-11-15,2021-11-16,2021-11-17,2021-11-18,2021-11-19,2021-11-21,2021-11-22,2021-11-23,2021-11-24
0,1,Apple,2.648000e+12,161.41,ðŸ‡ºðŸ‡¸ USA,AAPL,1.640543e+10,NaN,127.10,126.90,...,NaN,150.0000,151.00,153.49,157.87,160.55,NaN,161.02,161.41,NaN
1,2,Microsoft,2.535000e+12,337.68,ðŸ‡ºðŸ‡¸ USA,MSFT,7.507107e+09,NaN,250.78,251.72,...,NaN,336.0700,339.51,339.12,341.27,343.11,NaN,339.83,337.68,NaN
2,3,Alphabet (Google),1.942000e+12,2935.00,ðŸ‡ºðŸ‡¸ USA,GOOG,6.616695e+08,NaN,2406.67,2409.07,...,NaN,2987.7600,2981.52,2981.24,3014.18,2999.05,NaN,2941.57,2935.14,NaN
3,4,Saudi Aramco,1.907000e+12,9.54,ðŸ‡¸ðŸ‡¦ S. Arabia,2222.SR,1.998952e+11,35.45,35.35,35.40,...,37.45,37.2500,37.15,37.05,37.05,NaN,36.10,35.45,35.8,NaN
4,5,Amazon,1.815000e+12,3580.00,ðŸ‡ºðŸ‡¸ USA,AMZN,5.069832e+08,NaN,3244.99,3259.05,...,NaN,3545.6800,3540.70,3549.00,3696.06,3676.57,NaN,3572.57,3580.04,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5534,5683,Energy Focus,1.000000e+07,2.33,ðŸ‡ºðŸ‡¸ USA,EFOI,4.291845e+06,NaN,3.86,3.91,...,NaN,2.6300,2.57,2.53,2.43,2.40,NaN,2.28,2.33,NaN
5535,5684,Jump Networks,1.000000e+07,0.11,ðŸ‡®ðŸ‡³ India,JUMPNET.NS,9.090909e+07,6.90,7.20,7.20,...,7.40,7.7500,7.80,7.75,NaN,NaN,7.55,7.9,NaN,7.65
5536,5685,Pareteum Corporation,7.840000e+06,0.06,ðŸ‡ºðŸ‡¸ USA,TEUM,1.306667e+08,NaN,0.37,0.36,...,NaN,0.0700,0.06,NaN,0.06,0.05,NaN,0.05,0.06,NaN
5537,5686,Youngevity International,1.370000e+06,0.04,ðŸ‡ºðŸ‡¸ USA,YGYI,3.425000e+07,NaN,0.32,0.34,...,NaN,0.0551,NaN,NaN,NaN,NaN,NaN,0.0551,0.0404,NaN
5538,5687,Trulite,0.000000e+00,NaN,ðŸ‡ºðŸ‡¸ USA,TRUL,NaN,NaN,1.90,1.85,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0971,NaN

In [234]:
merged_melt = pd.melt(merged, id_vars=['Rank', 'Name', 'Market Cap', 'Price', 'Country', 'Ticker', 'Shares'])
merged_melt.drop(['Rank', 'Market Cap', 'Price', 'Country', 'Shares'], axis=1, inplace=True)
merged_melt.rename(columns = {'variable': 'Date', 'value': 'Stock Price'}, inplace = True)
merged_melt

                            Name      Ticker        Date Stock Price
0                          Apple        AAPL  2021-05-23         NaN
1                      Microsoft        MSFT  2021-05-23         NaN
2              Alphabet (Google)        GOOG  2021-05-23         NaN
3                   Saudi Aramco     2222.SR  2021-05-23       35.45
4                         Amazon        AMZN  2021-05-23         NaN
...                          ...         ...         ...         ...
886235              Energy Focus        EFOI  2021-11-24         NaN
886236             Jump Networks  JUMPNET.NS  2021-11-24        7.65
886237      Pareteum Corporation        TEUM  2021-11-24         NaN
886238  Youngevity International        YGYI  2021-11-24         NaN
886239                   Trulite        TRUL  2021-11-24         NaN

[886240 rows x 4 columns]

In [235]:
merged_melt_wo_nulls = merged_melt[merged_melt['Stock Price'].isnull() == False]
merged_melt_wo_nulls = merged_melt_wo_nulls.sort_values(['Ticker', 'Date'], ascending=[True, True])

In [236]:
merged_melt_wo_nulls['Stock Price'] = merged_melt_wo_nulls['Stock Price'].astype('float')
merged_melt_wo_nulls.dtypes

Name            object
Ticker          object
Date            object
Stock Price    float64
dtype: object

In [237]:
def six_month_gain_absolute(ticker):
    comp = merged_melt_wo_nulls[merged_melt_wo_nulls['Ticker'] == ticker]
    a = comp.iloc[-1]['Stock Price']-comp.iloc[0]['Stock Price']
    return a
def six_month_gain_percent(ticker):
    comp = merged_melt_wo_nulls[merged_melt_wo_nulls['Ticker'] == ticker]
    a_percent = comp.iloc[-1]['Stock Price']/comp.iloc[0]['Stock Price'] - 1
    return a_percent

In [239]:
merged_melt_wo_nulls['6mo Gain Abs'] = six_month_gain_absolute(merged_melt_wo_nulls['Ticker'])
merged_melt_wo_nulls['6mo Gain Pct'] = six_month_gain_percent(merged_melt_wo_nulls['Ticker'])

merged_melt_wo_nulls.dtypes

Name             object
Ticker           object
Date             object
Stock Price     float64
6mo Gain Abs    float64
6mo Gain Pct    float64
dtype: object